<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>booksFilePath</param-name>
        <param-value>/WEB-INF/books.txt</param-value>
    </context-param>
    <servlet>
        <servlet-name>TDRBDisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.TDRBDisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TDRBAddBookServlet</servlet-name>
        <servlet-class>club.admin.TDRBAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TDRBLoanServlet</servlet-name>
        <servlet-class>club.cart.TDRBLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TDRBCartServlet</servlet-name>
        <servlet-class>club.cart.TDRBCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TDRBClearCartServlet</servlet-name>
        <servlet-class>club.cart.TDRBClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TDRBMemberAdminController</servlet-name>
        <servlet-class>club.admin.TDRBMemberAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TDRBDisplayBooksServlet</servlet-name>
        <url-pattern>/TDRBDisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TDRBAddBookServlet</servlet-name>
        <url-pattern>/TDRBAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TDRBLoanServlet</servlet-name>
        <url-pattern>/TDRBLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TDRBCartServlet</servlet-name>
        <url-pattern>/TDRBCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TDRBClearCartServlet</servlet-name>
        <url-pattern>/TDRBClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TDRBMemberAdminController</servlet-name>
        <url-pattern>/TDRBMemberAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>TDRBIndex.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/TDRBError.jsp</location>
    </error-page>
</web-app>
